<%= form_for @shot, html: { multipart: true } do |f| %>
  <% if @shot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shot.errors.count, "error") %> prohibited this shot from being saved:</h2>

      <ul>
      <% @shot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-12">
    
    <div class="col-md-6">
      <h4>Nombre</h4>
    <%= f.text_field :nombreshot, class:'form-control' %>
    </div>
    <div class="col-md-6">
      <h4>Imagen Shot</h4>
    <%= f.file_field :imagen, class:'form-control' %>
    </div>
    
  </div>
  
  <div class="col-md-12">
    
    <div class="col-md-6">
             <h4>Categoría</h4> 
      <%= f.collection_select :categoria_id, Categoria.all, :id, :nombrecategoria,{prompt: "Seleccione"}, {class: "form-control"} %>
    
    </div>
    <div class="col-md-6">
       <h4>Precio</h4>
    <%= f.number_field :precio , :type => 'float' , :in => 0..100, :step => 0.01, class:'form-control' %>
    </div>
    
  </div>
  
  <div class="col-md-12">
    
    <div class="col-md-6">
      <h4>Descripción</h4>
    <%= f.text_area :descripcion, class:'form-control' %>
    </div>
    <div class="col-md-6">
      <br> <br>
       <%= f.submit "Guardar", class:'btn btn-default btn-lg btn-block' %>
    </div>
    
  </div>


<% end %>

