

<nav class="product-view">
  <i class="fa fa-th btn-gallery active"></i>
  <i class="fa fa-list btn-list"></i>
  <%= link_to "<i class='fa fa-plus'></i>".html_safe, new_shot_path %>
</nav>

<section class="products gallery">
  <% @shots.each do |shot| %>
              

  <figure>
    <%= image_tag shot.imagen.url%>
    <figcaption> <h1><b><%= shot.nombreshot.upcase %></b></h1><h5> <b><%= shot.descripcion %></b> </h5>  <h3> <b><%= shot.categoria.nombrecategoria.upcase  %> </b> </h3>   <h3> <b> <i class="fa fa-usd"></i> <%= shot.precio.round(3)  %> </b> </h3>  </figcaption> <br>
    
    
    
  </figure>
    <% end %> 
</section>
  
 


<script>
  $('.btn-gallery').on('click', function() {
  $('.products').removeClass('list').addClass('gallery');
  $('.btn-list').removeClass('active');
  $(this).addClass('active');
});

$('.btn-list').on('click', function() {
  $('.products').removeClass('gallery').addClass('list');
  $('.btn-gallery').removeClass('active');
  $(this).addClass('active');
});
</script>